/* Fondo negro global y tipografías */
html, body, #root {
  height: 100%;
}

body {
  background-color: white;  /* fondo negro */
  color: #1a1a1a;             /* contraste */
  margin: 0;
  font-family: Roboto, Montserrat, sans-serif;
}
